<h4>Internal server error - reincarcarea paginii va face eroarea sa dispara</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">Eroare: {{error.message}}</h5>
    <p class="font-weight-bold">Nota: Daca ati ajuns aici, atunci Angular nu este de invinovatit</p>
    <p>Ce puteti face mai departe?</p>
    <ol>
        <li>Deschideti chrome dev tools! Apoi verificati request-urile care au esuat din tab-ul de network</li>
        <li>Examinati request-ul URL - ce endpoint API utilizati?</li>
        <li>Reproduceti problema in Postman - daca primiti aceeasi eroare, Angular nu e 100% cauza</li>
    </ol>
    <p style="font-weight: bold;">Urmatoarea este eroarea - primele randuri va vor dicta ce linie de cod a cauzat problema in API</p>
    <code class="mt-5" style="background-color: whitesmoke;">
        {{error.details}}
    </code>
</ng-container>