<h2>Admin</h2>
<div class="tab-panel">
    <tabset class="member-tabset">
        <tab heading="Organizare utilizatori" *appHasRole="['Admin']">
            <div class="container">
                <app-user-management></app-user-management>
            </div>
        </tab>
        <!-- <tab heading="Liste obiecte" *appHasRole="['Admin', 'Moderator']">
            <div class="container">
                <app-trip-objects-list></app-trip-objects-list>
            </div>
        </tab> -->
    </tabset>
</div>
