<ngx-spinner type="line-scale-party">
    <h3>Se incarca...</h3>
</ngx-spinner>

<app-nav></app-nav>

<div class="container" style="margin-top: 70px;">
    <router-outlet></router-outlet>
</div>

<nav style="background-color: crimson; position: relative; bottom: 0px;">
    <div class="container" style="text-align: center;">
        <p>Aveti nevoie de ajutor? Va stam la dispozitie oricand!</p>
        <p style="margin:0">Persoane de contact:</p>
        <div style="display: inline-flex; justify-content:center;">
            <ul>
                <p style="margin:0">Saru Diana Mirela: +40 727 561 737</p>
            </ul>
            <ul>
                <p style="margin:0">Riza Ionut: +40 722 511 733</p>
            </ul>
        </div>
        
    </div>
</nav>