<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Inregistrare</h2>
    <hr>

    <app-text-input [formControl]="$any(registerForm.controls['username'])" 
        [label]="'Nume utilizator'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['firstName'])" 
        [label]="'Prenume'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['lastName'])" 
        [label]="'Nume'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['email'])" 
        [label]="'Email'"></app-text-input>
    <app-date-picker [formControl]="$any(registerForm.controls['dateOfBirth'])" 
        [label]="'Data nasterii'" [maxDate]="maxDate"></app-date-picker >
    <p-dropdown [options]="countries" formControlName="country" optionLabel="name"
        [filter]="true" filterBy="name" [showClear]="true" placeholder="Tara curenta"
        [class.is-invalid]="registerForm.controls['country'].touched && registerForm.controls['country'].invalid"
        class="form-control"
        (onChange)="loadCities()" style="display: inline-grid;">
    </p-dropdown>
    <div class="invalid-feedback" *ngIf="registerForm.controls['country'].errors?.['required']">
        Tara este obligatorie
    </div>
    <p-dropdown [options]="cities" formControlName="city" optionLabel="name"
        [filter]="true" filterBy="name" [showClear]="true" placeholder="Orasul curent"
        [class.is-invalid]="registerForm.controls['city'].touched && registerForm.controls['city'].invalid"
        class="form-control" style="display: inline-grid; margin-top: 15px; margin-bottom: 15px;">
    </p-dropdown>
    <div class="invalid-feedback" *ngIf="registerForm.controls['city'].errors?.['required']">
        Orasul este obligatoriu
    </div>
    <app-text-input [formControl]="$any(registerForm.controls['password'])" 
        [label]="'Parola'" [type]="'password'">
    </app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" 
        [label]="'Confirmati Parola'"
        [type]="'password'"></app-text-input>

    <div class="row" *ngIf="validationErrors">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="text-center">
        <button [disabled]="!registerForm.valid" class="btn btn-success me-2" style="background-color: crimson;" type="submit">Inregistare</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Anulare</button>
    </div>
</form>