<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: crimson;">
    <div class="container">
        <a class="navbar-brand" routerLink="/planYourTrip" routerLinkActive="active">Aplicatia ta perfecta pentru calatorit</a>

        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <ng-container *ngIf="accountService.currentUser$  | async">
                <li *appHasRole="['Admin']" class="nav-item">
                    <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
                </li>
            </ng-container>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <ng-container *ngIf="accountService.currentUser$  | async">
                <li *appHasRole="['Admin', 'Moderator']" class="nav-item">
                    <a class="nav-link" routerLink="/tripObjectsList" routerLinkActive="active">Lista obiecte turistice</a>
                </li>
            </ng-container>
        </ul>

        <div class="dropdown" *ngIf="(accountService.currentUser$  | async) as user" dropdown>
            <img src="{{user.photoUrl || './assets/user.png'}}" alt="user photo">
            <a class="dropdown-toggle text-light text-decoration-none ms-2" dropdownToggle>Bine ai venit, {{user.firstName}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
                <a class="dropdown-item" routerLink="/member/edit">Editeaza Profil</a>
                <a class="dropdown-item" (click)="logout()">Delogare</a>
            </div>
        </div>

        <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()"
            autocomplete="off">
            <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text"
                placeholder="Nume utilizator">
            <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password"
                placeholder="Parola">
            <button class="btn btn-success" style="background-color: firebrick;" type="submit">Logare</button>
        </form>

    </div>
</nav>