.map-container {
    width: 100%;
    height: 400px;
  }
/* .sebm-google-map-container{
    position:fixed;
    overflow: visible;
} */

.reviews {
    width: 100%;
    margin: 0 auto;
  }
  
  .review-list {
    list-style: none;
    padding: 0;
  }
  
  .review {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .review-title {
    font-size: 18px;
    margin: 0;
  }
  
  .review-date {
    font-size: 14px;
    color: #888;
  }
  
  .review-description {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .review-author {
    font-size: 14px;
    font-style: italic;
    color: #888;
  }
  .add-button {
    background-color: brown;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 15%;
  }
  
  .add-button:hover {
    background-color: burlywood;
  }
  .form-container {
    background-color: ghostwhite;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border-radius: 4px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
  } 
  
  .filterArea {
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 2.5%;
  }

  .sortArea{
    display: grid;
    .select{
      margin-bottom:10px;
    }
  }

  .buttonSearch {
    width: fit-content;
    background-color: currentColor;
  }

  .buttonClearFilters{
    width: 17%;
    background-color: burlywood;
  }
  