<div class="card mb-4" *ngIf="parc">
    <div class="card-img-wrapper">
        <div style="width: max-content;">
            <p>{{parc.nume}}</p>
        </div>
        <img src="{{parc.photoUrl || './assets/user.png'}}" alt="{{parc.nume}}" class="card-img-top">
        <p-rating [(ngModel)]="parc.rating" [stars]="10" [readonly]="true" [cancel]="false"></p-rating>
        <ul class="list-inline atractie-icons animate text-center">
            <li class="list-inline-item">
                <button routerLink="/parcuri/{{parc.id}}" class="bi bi-eye"></button>
            </li>
        </ul>
    </div>
</div>