<p-tabView styleClass="tabview-custom">

    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="bi bi-list-task"></i>
            <span> Atractii turistice</span>
        </ng-template>
        <div class="row">
            <div class="filterArea">
                <button *appHasRole="['Admin', 'Moderator']" class="add-button" type="button"
                    (click)="addAtractie()">Adauga atractie turistica</button>

                <!-- Filter Inputs -->
                <div>
                    <label for="nameFiltera">Nume:</label>
                    <div style="display: inline-flex;">
                        <input type="text" [(ngModel)]="atractiiFilter.nume" id="nameFiltera"
                            placeholder="Filtrati dupa nume">
                        <button class="buttonSearch" (click)="getAtractiiTuristiceFiltered()">
                            <i class="bi bi-search" style="color: black;"></i> </button>
                    </div>
                </div>
                <div>
                    <label for="adresaFiltera">Adresa:</label>
                    <div style="display: inline-flex;">
                        <input type="text" [(ngModel)]="atractiiFilter.adresa" id="adresaFiltera"
                            placeholder="Filtrati dupa adresa">
                        <button  class="buttonSearch" (click)="getAtractiiTuristiceFiltered()"> 
                            <i class="bi bi-search" style="color: black;"></i> </button>
                    </div>
                </div>


                <!-- Sorting Inputs -->
                <div class="sortArea">
                    <label for="sortCriteriaa">Sorteaza Dupa:</label>
                    <select class="select" id="sortCriteriaa" [(ngModel)]="atractiiFilter.sortField"
                        (ngModelChange)="getAtractiiTuristiceFiltered()">
                        <option value="nume">Nume</option>
                    </select>
                </div>

                <button class="buttonClearFilters" (click)="clearFiltersAtractii()">Sterge toate criteriile de filtrare si sortare</button>

            </div>
            <div class="col-2" style="width: 20%;" *ngFor="let atractie of atractiiTuristice">
                <app-atractie-turistica [atractie]="atractie"></app-atractie-turistica>
            </div>
        </div>
        <div class="d-flex justify-content-center" *ngIf="paginationAtractii">
            <pagination [boundaryLinks]="true" [totalItems]="paginationAtractii.totalItems"
                [itemsPerPage]="paginationAtractii.itemsPerPage" [maxSize]="10"
                [(ngModel)]="paginationAtractii.currentPage" (pageChanged)="pageChangedAtractii($event)"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
            </pagination>
        </div>
    </p-tabPanel>

    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="bi bi-houses-fill"></i>
            <span>Hoteluri</span>
        </ng-template>
        <div class="row">
            <div class="filterArea">
                <button *appHasRole="['Admin', 'Moderator']" class="add-button" type="button"
                    (click)="addHotel()">Adauga hotel</button>
                <!-- Filter Inputs -->
                <div>
                    <label for="nameFilter">Nume:</label>
                    <div style="display: inline-flex;">
                        <input type="text" [(ngModel)]="hotelFilter.nume" id="nameFilter"
                            placeholder="Filtrati dupa nume">
                        <button class="buttonSearch" (click)="getHotels()"> 
                            <i class="bi bi-search" style="color: black;"></i>
                        </button>
                    </div>

                </div>
                <div>
                    <label for="adresaFilter">Adresa:</label>
                    <div style="display: inline-flex;">
                        <input type="text" [(ngModel)]="hotelFilter.adresa" id="adresaFilter"
                            placeholder="Filtrati dupa adresa">
                        <button class="buttonSearch" (click)="getHotels()"> 
                            <i class="bi bi-search" style="color: black;"></i>
                        </button>
                    </div>

                </div>

                <div>
                    <label for="categoryFilter">Nota:</label>
                    <p-rating [stars]="10" [(ngModel)]="hotelFilter.rating" (ngModelChange)="getHotels()"></p-rating>
                </div>

                <!-- Sorting Inputs -->
                <div class="sortArea">
                    <label for="sortCriteria">Sorteaza Dupa:</label>
                    <select class="select" id="sortCriteria" [(ngModel)]="hotelFilter.sortField" (ngModelChange)="getHotels()">
                        <option value="nume">Nume</option>
                        <option value="pricePerNight">Pret pe noapte</option>
                        <option value="rating">Nota</option>
                    </select>
                </div>

                <button class="buttonClearFilters" (click)="clearFiltersHotels()">Sterge toate criteriile de filtrare si sortare</button>

            </div>
            <div class="col-2" style="width: 20%;" *ngFor="let hotel of hoteluri">
                <app-hotel [hotel]="hotel" [startDate]="tripParams.startDate"
                    [endDate]="tripParams.endDate"></app-hotel>
            </div>
        </div>
        <div class="d-flex justify-content-center" *ngIf="paginationHotels">
            <pagination [boundaryLinks]="true" [totalItems]="paginationHotels.totalItems"
                [itemsPerPage]="paginationHotels.itemsPerPage" [maxSize]="10" [(ngModel)]="paginationHotels.currentPage"
                (pageChanged)="pageChangedHotels($event)" previousText="&lsaquo;" nextText="&rsaquo;"
                firstText="&laquo;" lastText="&raquo;">
            </pagination>
        </div>
    </p-tabPanel>

    <p-tabPanel>
        <ng-template pTemplate="header">
            <span>Restaurante</span>
        </ng-template>
        <div class="row">
            <div class="filterArea">
                <button *appHasRole="['Admin', 'Moderator']" class="add-button" type="button"
                    (click)="addRestaurant()">Adauga restaurant</button>

                <!-- Filter Inputs -->
                <div>
                    <label for="nameFilterr">Nume:</label>
                    <div style="display: inline-flex;">
                        <input type="text" [(ngModel)]="restaurantFilter.nume" id="nameFilterr"
                            placeholder="Filtrati dupa nume">
                        <button class="buttonSearch"  (click)="getRestaurante()">
                            <i class="bi bi-search" style="color: black;"></i> </button>
                    </div>

                </div>
                <div>
                    <label for="adresaFilterr">Adresa:</label>
                    <div style="display: inline-flex;">
                        <input type="text" [(ngModel)]="restaurantFilter.adresa" id="adresaFilterr"
                            placeholder="Filtrati dupa adresa">
                        <button class="buttonSearch"  (click)="getRestaurante()"> 
                            <i class="bi bi-search" style="color: black;"></i>
                        </button>
                    </div>

                </div>

                <div>
                    <label for="specificFilterr">Specific:</label>
                    <div style="display: inline-flex;">
                        <input type="text" [(ngModel)]="restaurantFilter.specific" id="specificFilterr"
                            placeholder="Filtrati dupa specific">
                        <button class="buttonSearch" (click)="getRestaurante()">
                            <i class="bi bi-search" style="color: black;"></i> </button>
                    </div>

                </div>

                <div>
                    <label for="categoryFilterr">Nota:</label>
                    <p-rating [stars]="10" [(ngModel)]="restaurantFilter.rating"
                        (ngModelChange)="getRestaurante()"></p-rating>
                </div>

                <!-- Sorting Inputs -->
                <div class="sortArea">
                    <label for="sortCriteriar">Sorteaza Dupa:</label>
                    <select  class="select" id="sortCriteriar" [(ngModel)]="restaurantFilter.sortField"
                        (ngModelChange)="getRestaurante()">
                        <option value="nume">Nume</option>
                        <option value="rating">Nota</option>
                    </select>
                </div>

                <button class="buttonClearFilters" (click)="clearFiltersRestaurante()">Sterge toate criteriile de filtrare si sortare</button>
            </div>
            <div class="col-2" style="width: 20%;" style="width: 20%;" *ngFor="let restaurant of restaurante">
                <app-restaurant [restaurant]="restaurant"></app-restaurant>
            </div>
        </div>
        <div class="d-flex justify-content-center" *ngIf="paginationRestaurante">
            <pagination [boundaryLinks]="true" [totalItems]="paginationRestaurante.totalItems"
                [itemsPerPage]="paginationRestaurante.itemsPerPage" [maxSize]="10"
                [(ngModel)]="paginationRestaurante.currentPage" (pageChanged)="pageChangedRestaurante($event)"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
            </pagination>
        </div>
    </p-tabPanel>

    <p-tabPanel>
        <ng-template pTemplate="header">
            <span>Parcuri</span>
        </ng-template>
        <div class="row">
            <div class="filterArea">
                <button *appHasRole="['Admin', 'Moderator']" class="add-button" type="button" (click)="addParc()">Adauga
                    parc</button>

                <!-- Filter Inputs -->
                <div>
                    <label for="nameFilterp">Nume:</label>
                    <div style="display: inline-flex;">
                        <input type="text" [(ngModel)]="parcFilter.nume" id="nameFilterp" placeholder="Filtrati dupa nume">
                        <button class="buttonSearch"  (click)="getParcuri()">
                            <i class="bi bi-search" style="color: black;"></i> </button>
                    </div>

                </div>
                <div>
                    <label for="adresaFilterp">Adresa:</label>
                    <div style="display: inline-flex;">
                        <input type="text" [(ngModel)]="parcFilter.adresa" id="adresaFilterp"
                            placeholder="Filtrati dupa adresa">
                        <button class="buttonSearch"  (click)="getParcuri()">
                            <i class="bi bi-search" style="color: black;"></i> </button>
                    </div>

                </div>

                <div>
                    <label for="categoryFilterp">Nota:</label>
                    <p-rating [stars]="10" [(ngModel)]="parcFilter.rating" (ngModelChange)="getParcuri()"></p-rating>
                </div>

                <!-- Sorting Inputs -->
                <div class="sortArea">
                    <label for="sortCriteriap">Sorteaza Dupa:</label>
                    <select  class="select" id="sortCriteriap" [(ngModel)]="parcFilter.sortField" (ngModelChange)="getParcuri()">
                        <option value="nume">Nume</option>
                        <option value="rating">Nota</option>
                    </select>
                </div>

                <button class="buttonClearFilters" (click)="clearFiltersParcuri()">Sterge toate criteriile de filtrare si sortare</button>

            </div>
            <div class="col-2" style="width: 20%;" *ngFor="let parc of parcuri">
                <app-parc [parc]="parc"></app-parc>
            </div>
        </div>
        <div class="d-flex justify-content-center" *ngIf="paginationParcuri">
            <pagination [boundaryLinks]="true" [totalItems]="paginationParcuri.totalItems"
                [itemsPerPage]="paginationParcuri.itemsPerPage" [maxSize]="10"
                [(ngModel)]="paginationParcuri.currentPage" (pageChanged)="pageChangedParcuri($event)"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
            </pagination>
        </div>
    </p-tabPanel>

    <p-tabPanel header="Rute">
        <ng-template pTemplate="header">
            <i class="bi bi-geo-alt-fill"></i>
            <span>Rute</span>
        </ng-template>
        <div class="row">
            <div class="map-container" *ngIf="origin && destination">
                <agm-map style="height: 100%;" [latitude]="origin.lat" [longitude]="origin.lng" [zoom]="12">
                    <agm-marker [latitude]="origin.lat" [longitude]="origin.lng"></agm-marker>
                    <agm-marker [latitude]="destination.lat" [longitude]="destination.lng"></agm-marker>
                    <agm-direction [origin]="origin" [destination]="destination"></agm-direction>
                </agm-map>
            </div>
        </div>
    </p-tabPanel>

</p-tabView>

<p-dialog header="Adauga hotel" [(visible)]="displayForAddingNewHotel" [style]="{width: '50vw'}">
    <div class="form-container">
        <form *ngIf="displayForAddingNewHotel" (ngSubmit)="submitHotel()">
            <div class="form-group">
                <label for="nume">Nume</label>
                <input type="text" id="nume" name="nume" [(ngModel)]="newHotel.nume" required>
            </div>

            <div class="form-group">
                <label for="adresa">Adresa</label>
                <textarea style="width: 100%;" id="adresa" name="adrsea" [(ngModel)]="newHotel.adresa" required></textarea>
            </div>


            <div class="form-group">
                <label for="pret">Pret pe noapte</label>
                <input type="number" id="pret" name="pret" [(ngModel)]="newHotel.pricePerNight" required>
            </div>
            <button [disabled]="newHotel.nume==''||newHotel.nume==null||newHotel.pricePerNight==0||newHotel.adresa==''||newHotel.adresa==null" class="btn btn-success me-2" style="background-color: crimson;" type="submit">Adauga hotel</button>
        </form>
    </div>
</p-dialog>

<p-dialog header="Adauga atractie turistica" [(visible)]="displayForAddingNewAttraction" [style]="{width: '50vw'}">
    <div class="form-container">
        <form *ngIf="displayForAddingNewAttraction" (ngSubmit)="submitAtractieTuristica()">
            <div class="form-group">
                <label for="nume">Nume</label>
                <input type="text" id="nume" name="nume" [(ngModel)]="newAtractie.nume" required>
            </div>

            <div class="form-group">
                <label for="descriere">Descriere</label>
                <textarea style="width: 100%;" id="descriere" name="descriere"
                    [(ngModel)]="newAtractie.descriere"></textarea>
            </div>


            <div class="form-group">
                <label for="adresa">Adresa</label>
                <textarea style="width: 100%;" id="adresa" name="adresa" [(ngModel)]="newAtractie.adresa" required></textarea>
            </div>

            <button [disabled]="newAtractie.nume==''||newAtractie.nume==null||newAtractie.adresa==''||newAtractie.adresa==null" class="btn btn-success me-2" style="background-color: crimson;" type="submit">Adauga atractie turistica</button>
        </form>
    </div>
</p-dialog>

<p-dialog header="Adauga parc" [(visible)]="displayForAddingNewParc" [style]="{width: '50vw'}">
    <div class="form-container">
        <form *ngIf="displayForAddingNewParc" (ngSubmit)="submitParc()">
            <div class="form-group">
                <label for="nume">Nume</label>
                <input type="text" id="nume" name="nume" [(ngModel)]="newParc.nume" required>
            </div>

            <div class="form-group">
                <label for="adresa">Adresa</label>
                <textarea style="width: 100%;" id="adresa" name="adrsea" [(ngModel)]="newParc.adresa"></textarea>
            </div>
            <button [disabled]="newParc.nume==''||newParc.nume==null||newParc.adresa==''||newParc.adresa==null" class="btn btn-success me-2" style="background-color: crimson;" type="submit">Adauga parc</button>
        </form>
    </div>
</p-dialog>

<p-dialog header="Adauga restaurant" [(visible)]="displayForAddingNewRestaurant" [style]="{width: '50vw'}">
    <div class="form-container">
        <form *ngIf="displayForAddingNewRestaurant" (ngSubmit)="submitRestaurant()">
            <div class="form-group">
                <label for="nume">Nume</label>
                <input type="text" id="nume" name="nume" [(ngModel)]="newRestaurant.nume" required>
            </div>

            <div class="form-group">
                <label for="adresa">Adresa</label>
                <textarea style="width: 100%;" id="adresa" name="adresa" [(ngModel)]="newRestaurant.adresa" required></textarea>
            </div>


            <div class="form-group">
                <label for="specific">Specific</label>
                <input type="text" id="specific" name="specific" [(ngModel)]="newRestaurant.specific" required>
            </div>
            <button [disabled]="newRestaurant.nume==''||newRestaurant.nume==null||newRestaurant.adresa==''||newRestaurant.adresa==null" class="btn btn-success me-2" style="background-color: crimson;" type="submit">Adauga restaurant</button>
        </form>
    </div>
</p-dialog>

